#main_pic {
  height: 300px;
}

.img-list {
  border-radius: 10% 10%;
  height: 100px;
  width: 200px;
}

#dropdownMenuLink {
  height: 20px;
}

icon-shape {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.icon-sm {
  width: 2rem;
  height: 2rem;
}
